.apdays1 {
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    width: 500px;
    height: 50px;

    word-spacing: 39px;

    font-size: 25px;
    line-height: 45px;

    text-align: left;
    text-indent: 165px;
}
