.main {
    margin-top: 10px;    
    margin-left: auto;
    margin-right: auto;
    position: relative;

    width: 550px;
    height: 872px;
    background-color: gray;
}

.month {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    width: 150px;
    height: 150px;
    background-color: whitesmoke;
}

.week {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    letter-spacing: 50px;
    font-size: 25px;
    line-height: 45px;
    text-align: center;

    width: 500px;
    height: 50px;
    background-color: whitesmoke;
}  

.days {
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    letter-spacing: 50px;
    font-size: 25px;
    line-height: 45px;
    text-align: center;

    width: 500px;
    height: 50px;
    background-color: whitesmoke;
}  
